@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/__assets/a699af1dea30b799318e058c03ae61680de787476d635909fbb0354740971bab.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/__assets/e45972c7e9f24dc390848eb598daf023bc4e4284384ba7bb6696dc53c9e90a67.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/__assets/87e867b52640b3b397a977c3046d1cc543ecde56ff4d0fd14bc53b812bc940ed.ttf") format("truetype");
}
@font-face {
  font-family: "Newsreader";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/__assets/289d2aa8e0ed6731529209b3144c1db2c7144f263e49de695ff80b364f3f9f32.ttf") format("truetype");
}
@font-face {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/__assets/d6c65600eb0149bc0e2d25af57290a05b310141d46a5516edec93d0afcb5c7c0.ttf") format("truetype");
}
@font-face {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/__assets/3208926ba69d6886481d3ee0e426838953319bd7dc3acd3dc20e6db0df1a916b.ttf") format("truetype");
}
@font-face {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/__assets/151ae355673a29361ba9f70626c26df396b6185d34a0a6a78d10895d3e38c3f5.ttf") format("truetype");
}
